.App {
  text-align: center;
}

input {
  border: 1px solid black;
}
textarea {
  border: 1px solid black;
}
* {
  padding: 10px;
}
fieldset {
  border: 1px solid black;
}
.imgbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
